@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

/* 从右边滑动进入 */
@keyframes slide-in-right {
    from {
        /* 变化大小 */
        transform: translateX(20%); 
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@layer components {
    .font-hans {
        font-family:
            "PingFang SC", "Microsoft YaHei", "Heiti SC", "STHeiti",
            "Noto Sans SC", "WenQuanYi Micro Hei", sans-serif;
    }
    /* 中英混排 */
    .text-autospace {
        text-autospace: normal;
    }
}

@layer utilities {
    .animate-slide-in-right {
        animation: slide-in-right 0.4s ease-out forwards;
    }
}

code[data-theme],
code[data-theme] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
}

html.dark code[data-theme],
html.dark code[data-theme] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
}
