@import "tailwindcss";
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

@layer components {
    .font-hans {
        font-family:
            "PingFang SC", "Microsoft YaHei", "Heiti SC", "STHeiti",
            "Noto Sans SC", "WenQuanYi Micro Hei", sans-serif;
    }
    /* 中英文自动添加空格 */
    .text-autospace {
        text-autospace: normal;
    }
}

code[data-theme],
code[data-theme] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
}

html.dark code[data-theme],
html.dark code[data-theme] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
}
